@charset "UTF-8";

#logo-title img{
    width: auto;
    height: 100px;
}

#logo-title h1{
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

.validation-error {
    color: red;
}

/* Taken from Album example */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

