@charset "UTF-8";

#logo-title img{
    width: auto;
    height: 100px;
}

#logo-title h1{
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

.validation-error {
    color: red;
}