<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<head th:fragment="head">
    <title>PhotoApp</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/pa_style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<div th:fragment="header" id="logo-title">
    <div class="row">
        <div class="col-sm float-left">
            <img th:src="@{/images/logo.png}">
        </div>
        <div class="col-sm align-content-center"><h1>Photo App</h1></div>
        <div class="col-sm-3">
            <div class="float-right" sec:authorize="isAuthenticated()">
                <form method="POST" th:action="@{/logout}">
                    Ulogirani ste kao <span sec:authentication="name">Korisnik</span>.
                    <input type="submit" value="Logout" class="btn border ml-2"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="js">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</div>

</body>

</html>