<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<head th:fragment="head">
    <title>PhotoApp</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/pa_style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<div th:fragment="header" id="logo-title">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="float-left" th:src="@{/images/logo.png}">
            </div>
        </div>
    </div>
</div>

<div th:fragment="js">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</div>

</body>

</html>