<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments :: header"></div>
    <main role="main">

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div th:each="picture : ${pictures}" class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img th:src="${picture.path}" th:alt="${picture.name}" style="object-fit: cover; height: 250px; overflow: hidden">
                            <div class="card-body">
                                <p class="card-text" th:text="${picture.description}">Picture description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted" th:text="${picture.username}">Author</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
</body>
</html>