<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments :: header"></div>
    <main role="main">
        <h3 th:text="#{msg.upload_title}"></h3>
        <hr/>
        <form method="POST" th:object="${picture}" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input id="file" type="file" name="file"/> <br/><br/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label th:for="${picture.name}" th:text="#{msg.name} + ':'"> </label>
                    <input type="text" th:field="${picture.name}" class="form-control"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label th:for="${picture.description}" th:text="#{msg.description} + ':'"> </label>
                    <input type="text" th:field="${picture.description}" class="form-control"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <input type="submit" th:value="#{msg.add_picture}" class="btn btn-primary"/>
                </div>
            </div>
        </form>
        <hr/>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

</body>
</html>
